* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 14px;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    gap: 1rem;
}

.navbar__container {
    padding: 1rem 3rem;
}


a {
    text-decoration: none;
    color: black;
}

section {
    min-height: 75vh;
}